*.aux
*.dvi
*.log
auto/
*.toc
*.toc.old
*~
*.pdf
*.ps
*.pyc
htmlcov
.coverage
.project
.pydevproject
.pythoscope
TAGS
docs/_build
MANIFEST
dist
test-interactive.py
/.dir-locals.el
metricData.csv
metricData.sql
*.stats
coverage